// COMMON
body{
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4; // 배수
  font-family: 'Nanum Gothic', sans-serif;

  img{
    // inline(img tag) -> block
    display: block;
  }

  a{
    text-decoration: none;
  }

  .inner{
    // 좌우 중앙 정렬
    width: 1100px;
    margin: 0 auto;
    position: relative;
  }

  .btn{
    width: 130px;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 4px;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    transition: 0.4s;
  }

  .btn:hover{
    background-color: #333;
    color: #fff;
  }

  .btn.btn--reverse{
    background-color: #333;
    color: #fff;
  }

  .btn.btn--reverse:hover{
    background-color: transparent;
    color: #333;
  }

  .btn.btn--brown{
    color: #592b18;
    border-color: #592b18;
  }

  .btn.btn--brown:hover{
    color: #fff;
    background-color: #592b18;
  }

  .btn.btn--gold{
    color: #d9aa8a;
    border-color: #d9aa8a;
  }

  .btn.btn--gold:hover{
    color: #fff;
    background-color: #d9aa8a;
  }

  .btn.btn--white{
    color: #fff;
    border-color: #fff;
  }

  .btn.btn--white:hover{
    color: #333;
    background-color: #fff;
  }

  // scroll 효과
  // 기본 상태 (투명한 상태)
  .back-to-position{
    opacity: 0;
    transition: 1s;
  }

  // 왼 -> 오
  .back-to-position.to-right{
    transform: translateX(-150px);
  }

  // 오 -> 왼
  .back-to-position.to-left{
    transform: translateX(150px);
  }

  // 원래의 위치로 돌아오기
  .show .back-to-position{
    opacity: 1;
    transform: translateX(0);
  }

  // 스크롤 텍스트 애니메이션에 딜레이 효과주기
  .show .back-to-position.delay-0{
    transition-delay: 0s;
  }

  .show .back-to-position.delay-1{
    transition-delay: 0.3s;
  }

  .show .back-to-position.delay-2{
    transition-delay: 0.6s;
  }

  .show .back-to-position.delay-3{
    transition-delay: 0.9s;
  }
}


// HEADER
header{
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
}

// > -> 자식 선택자
header > .inner{
  height: 120px;
}

header .logo{
  // margin auto로 상하 중앙 정렬을 하기 위해 높이 설정 필요
  height: 75px;
  position: absolute; // 부모 기준
  // 부모 기준 상하 중앙 정렬
  top: 0;
  bottom: 0;
  margin: auto;
  left: 5px;
}

// header - sub menu
header .sub-menu{
  display: flex;
  position: absolute;
  top: 10px;
  right: 5px;

  // menu
  .menu{
    display: flex;
    font-family: Arial, sans-serif;

    li{
      position: relative;

      &:first-child::before{
        display: none;
      }
    }

    // 가상 선택자
    li::before{
      content: "";
      // display: block;
      width: 1px;
      height: 12px;
      background-color: #e5e5e5;
      // absolute와 fixed 속성은 자동으로 block으로 바뀌기 때문에 display: block으로 따로 지정 안 해도 됨
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto 0;
  }

  a{
    // background-color: white;
    font-size: 12px;
    display: block;
    padding: 11px 16px;
    color: #656565;
  }

  a:hover{
    color: #000;
  }

  }

  // search
  .search{
    height: 34px;
    position: relative;

    input{
      width: 36px;
      height: 34px;
      padding: 4px 10px;
      border: 1px solid #ccc;
      box-sizing: border-box;
      border-radius: 5px;
      outline: none;
      background-color: #fff;
      color: #777;
      font-size: 12px;
      transition: width 0.4s;
    }

    // input 버튼 click
    input:focus{
      width: 190px;
      border-color: #669900;
    }

    .material-icons{
      height: 24px;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 5px;
      margin: auto;
      transition: 0.4s;
    }
  }

  .search.focused .material-icons{
    opacity: 0;
  }
}

// header - main menu
header .main-menu{
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  z-index: 1;

  .item{

    .item__name{
      padding: 10px 20px 34px 20px;
      font-family: Arial, sans-serif;
      font-size: 13px;
    }

    .item__contents{
      width: 100%;
      position: fixed;
      left: 0;
      display: none;

      .contents__menu{
        background-color: #2c2a29;

        // > -> contents 안 "바로" 자식인 ul 태그를 지칭
        & > ul{
          display: flex;
          padding: 20px 0;

          & > li{
            width: 220px;

            & > h4 {
              padding: 3px 0 12px 0;
              font-size: 14px;
              color: #fff;
            }

            & > ul{
              & > li{
                padding: 5px 0;
                font-size: 12px;
                color: #999;
                cursor: pointer;
              }

              & > li:hover{
                color: #669900;
              }
            }
          }
        }
      }

      .contents__texture{
        padding: 26px 0;
        font-size: 12px;
        background-image: url("../images/main_menu_pattern.jpg");

        h4{
          color: #999;
          font-weight: bold;
        }

        p{
          color: #669900;
          margin: 4px 0 14px;
        }
      }
    }

  }

  .item:hover .item__name{
    background-color: #2c2a29;
    color: #669900;
    border-radius: 6px 6px 0 0;
  }

  .item:hover .item__contents{
    display: block;
  }
}



// footer
footer{
  background-color: #272727;
  border-top: 1px solid #333;

  .inner{
    padding: 40px 0 60px 0;

    .menu{
      display: flex;
      justify-content: center;

      li{
        position: relative;

        a{
          color: #ccc;
          font-size: 12px;
          font-weight: bold;
          display: block;
          padding: 15px;
        }

        a.green{
          color: #669900;
        }
      }

      // 3px 크기의 점을 사이에 넣기 위해 가상 선택자를 추가
      li::before{
        content: "";
        // ::before 가상 선택자는 인라인 요소인데 absolute나 fixed를 설정하면 블록으로 바뀌기 때문에 따로 block으로 설정 안 해줘도 됨
        width: 3px;
        height: 3px;
        background-color: #555;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 1px;
      }

      li:last-child::before{
        display: none;
      }
    }

    .btn-group{
      margin-top: 20px;
      display: flex;
      justify-content: center;

      .btn{
        font-size: 12px;
        margin-right: 10px;

        &:last-child{
          margin-right: 0;
        }
      }
    }

    .info{
      margin-top: 30px;
      text-align: center;

      span{
        margin-right: 20px;
        color: #999;
        font-size: 12px;

        &:last-child{
          margin-right: 0;
        }
      }
    }

    .copyright{
      color: #999;
      font-size: 12px;
      text-align: center;
      margin-top: 12px;
    }

    .logo{
      // 이미지 태그는 margin auto를 사용할 때 자동으로 계산해서 별도로 가로 사이즈를 넣지 않아도 중앙 정렬 가능
      margin: 30px auto 0;
    }
  }
}

